[Desktop Entry]
Type=Application
Name=timehud
Comment=Transparent clock and timer overlay for Linux
Exec=AppRun
Icon=timehud
StartupWMClass=timehud
Terminal=false
Categories=Utility;

